<h2><%= @user_show.name %></h2>
<form class="" action="/secrets/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="secret">New Secret</label><br />
  <input id="secret" name="content"><br />
  <button type="submit">Create Secret!</button>
</form>

<br />
<hr />
<h2>Secrets</h2> <br />
<% @user_show.each do |user| %>
<%= user.content %>   <a href="/secrets/delete/<%= user.id %>" data-method="delete">Delete My Secret</a><br />
Likes: <%= user.likes.count%><br /><br><br><br>
<% end %>
<hr />
<h2>Likes</h2>
<% @user_likes.each do |user2| %>
<%= user2.content %><br />
<% end %>
