<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Bid:</strong>
  <%= @auction.bid %>
</p>

<p>
  <strong>Price:</strong>
  <%= @auction.price %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
