<!DOCTYPE html>
<html>
<head>
    <title>DojoSecrets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
  <p>
    <%= e %>
  </p>
  <% end %>
  <% end %>

  <% if current_user %>
  <!-- <button type="submit" value="Log Out">Log Out</button> -->
  <!-- <label for="logout">Log Out</label>
  <input type="button" value="Log Out" id="logout"> -->
  <a href="/sessions/destroy" data-method="delete" value="Log Out">Log Out</a>
  <% end %>
<%= yield %>

</body>
</html>
