<a href="/bright_ideas" style="float:right">Bright Ideas</a>
<h3>Name: <%= @user_show.name %></h3><br>
<h3>Alias: <%= @user_show.alias %></h3><br>
<h3>Email: <%= @user_show.email %></h3><br>
<hr>
<h4>Total Number of Posts: <%= @user_count_posts %></h4><br>
<h4>Total Number of Likes:  <%= @user_count_likes %></h4><br>
