<a href="/bright_ideas" style="float:right">Bright Ideas</a>
<h1>Name: <%= @user_show.name %></h1><br>
<h1>Alias: <%= @user_show.alias %></h1><br>
<h1>Email: <%= @user_show.email %></h1><br>
<hr>
<h2>Total Number of Posts: <%= @user_count_posts %></h2><br>
<h2>Total Number of Likes:  <%= @user_count_likes %></h2><br>
