<h1>Secrets</h1>
<br />
    <% @all_secrets.each do |secret| %>
      <td><%= secret.content %></td><br />
      <form action="secrets/like" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
        <input type="hidden" name="secret_id" value="<%= secret.id %>">
        <%= secret.likes.count %> likes | <button type="submit">Like</button>
        <% if (secret.user.id == session[:user_id]) %>
            <a href="secrets/delete/<%= secret.id %>" data-method="delete">Delete My Secret</a>
          <% end %>
      </form><br><br>
    <% end %>
  </tbody>
</table>
