<!DOCTYPE html>
<html>
<head>
  <title>X</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
  <p>
    <%= e %>
  </p>
  <% end %>
  <% end %>

  <% if current_user %>
  <a href="/sessions/destroy" data-method="delete" value="Log Out">Log Out</a>
  <% end %>

</body>
</html>
